<!DOCTYPE html>
<html lang="en">

<head>
	<%- include head %>
	<link href="/stylesheets/write.css"  rel='stylesheet'/>
	<title>写文章</title>
</head>

<body>
	
	<%- include('bar', {username: username}) %>

	<div >
		<form action="/article/add" method="post" class="article">
			<input type="hidden" name='id' value="<%- item.id %>">
			<input type="hidden" name='page' value="<%- item.page %>">
			<input class="title-input" type='text' name='title' placehoder='请输入文章标题' value="<%=item.title%>"></input>
			<textarea name='content'><%- item.content %></textarea>
			<% if(item.id) { %>
			<input class="btn" type="submit" value="修改">
			<% } else { %>
			<input class="btn" type="submit" value="发布">
			<% } %>
		</form>
		<!-- <form action="/article/upload" method="post">
			<input type="file" name="file" >
			<input type="submit" value="修改">
		</form> -->
	</div>

</body>

</html>